     body{
        display:flex;
        justify-content:center;
        align-items: center;
        margin:0;
        height: 100vh;
        font-family:Roboto,Arial;
        background: #3399ff;
      }
      html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

      .box{
        height:400px;
        width:330px;
        border:none;
        border-radius:25px;
        box-shadow:0 5px 10px rgba(0,0,0,0.1);
        background-color: #f4f4f4;
      }
      .empty{
        background-color:#4070f4;
        width:330px;
        height:130px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position:relative;
        
      }
      .profilepic{
        height:100%;
        width:100%;
        object-fit:cover;
        border-radius:50%;
        border-width:3px;
        border-color:white;
        border-style:solid;
        
        
      }
      .image{
        width:120px;
        height:120px;
        position:relative; 
        border-radius:50%;
        padding:6px;
        border:none;
        
        background-color:#4070f4;
        display:flex;
        align-items:center;
        justify-content:center;
        bottom:-20px;
        left:110px;
        overflow:hidden;
      }
      .para{
        display:flex;
        flex-direction:column;
        margin-top: 15px;
        align-items:center;
      }
      .name{
        font-weight:bold;
        font-size:20px;
        color:rgb(87, 84, 84);
        margin-bottom:0px;
      }
      .work{
        font-weight:600;
        margin-top:5px;
        color:rgb(121, 116, 116);
        font-size:15px;
      }
      .icons{
        display:flex;
        flex-direction:row;
        justify-content:center;
      }
      .icons .link{
        display:flex;
        justify-content:center;
        align-items:center;
        color:#fff;
        height:34px;
        width:34px;
        margin:0px 8px;
        background-color:#4070f4;
        border-radius:50%;
        text-decoration:none;
        font-size:20px;
      }
      .buttons{
        display:flex;
        justify-content:center;
        margin-top:30px;
      }
      .buttons button{
        color:white;
        font-weight:600;
        background-color:#4070f4;
        border:none;
        padding-left:20px;
        padding-right:20px;
        padding-top:8px;
        padding-bottom:8px;
        margin:0 10px;
        border-radius:20px;
        transition:box-shadow 0.5s;
      }
      .buttons .a:hover,.buttons .b:hover{
        cursor:pointer;
        opacity:0.8;
        box-shadow:0 5px 5px rgb(8, 182, 235);
      }
      .buttons .a:active,.buttons .b:active{
        color:#4070f4;
        background-color:#f4f4f4;
        box-shadow:0 5px 5px #4070f4;
      }
      .analytics{
        display:flex;
        justify-content:center;
        margin-top:25px;
      }
      .analytics .data{
        display:flex;
        align-items:center;
        color:#333;
        padding:0 20px;
        border-right-width:2px;
        border-right-color:#e7e7e7;
        border-right-style:solid;
        position:relative;
      }
      .data:last-child{
        border-right:none;
      }
      .data i{
        font-size:18px;
        font-weight:bold;
        color:rgb(85, 84, 84);
      }
      .data .number{
        font-weight:bold;
        font-size:15px;
        color:rgb(85, 84, 84);

      }
      .data .likes,.data .comments,
      .data .shared{
        position:absolute;
        bottom:-20px;
        left:8px;
        background-color:gray;
        color:white;
        font-size:14px;
        padding-top:3px;
        padding-bottom:3px;
        border-radius:1px;
        padding-left:3px;
        padding-right:3px;
        pointer-events:none;
        opacity:0;
        transition:opacity 0.15s;
        font-family:roboto,arial;
      }
      .data:hover .likes,.data:hover .comments,
      .data:hover .shared{
        opacity:1;
        cursor:pointer;
      }
      .data:hover .number{
        pointer-events:none;
      }
    